<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/home.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <button class="HeadButton MenuButton">☰ Menu</button>
        <h2 class="HeadTitle">MainTitle</h2>
        <a href="/login">
            <button class="HeadButton">Login</button>
        </a>
        <a href="signup", methods="GET">
            <button class="HeadButton">Sign Up</button>
        </a>
    </header>
    <div class="MainContent">
        <!-- <img style="width: 100vw; height: 100vh" src="../static/Images/photo_2025-09-21_12-59-00.jpg"/> -->
        <img style="width: 100vw; height: 100vh" src="../static/Images/KaminaGlasses.png"/>
    </div>
</body>
</html>