<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/home.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <button class="HeadButton MenuButton">☰ Menu</button>
        <h2 class="HeadTitle">MainTitle</h2>
        <a href="signup", methods="GET">
            <button class="HeadButton">Sign Up</button>
        </a>
    </header>
    <div class="MainContent">
        <!-- <img style="width: 100vw; height: 100vh" src="../static/Images/photo_2025-09-21_12-59-00.jpg"/> -->
        <!-- <img style="width: 99vw; height: 108vh" src="../static/Images/KaminaGlasses.png"/> -->
    </div>
    <!-- <div class="NewsDiv">
        <h2>News</h2>
        <h4>New Features</h4>
            <p>
                Currently we prepare new update with new features for user Profile.
                The main option will be ability to customize your avatar, set dashboard and show your anime recensions to other users.
            </p>
        <h4>New Products Page</h4>
            <p>
                In the next update we are also going to add a new page for an anime. What anime it will be exacly is a secret.
                All we can say now - it's something related to leafs.
            </p>
        <h4>social networks</h4>
            <p>
                Finally we decided to run some social networks, like a instagram and tik tok, for better comunication with users.
                So, now if you want to follow us and always be aware of news you can check this links: LINK
            </p>
    </div> -->
</body>
</html>